/*RESET*/

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: rgb(0, 0, 0);
}




/*Desoler pour le bazard j'ai voulu ranger le CSS mais sa a modifier le site ducoup j'ai laisser comme sa*/







/* LES CLASSES FONCTIONNELLES FLEX */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

/* alignement verticale */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

/* Gap */

.gap-30 {
    gap: 30px;
}

/* LES CLASSES DE LARGEUR */

.w-100 {
    width: 100%;
}
.w-125 {
    width: 125%;
}

.w-48 {
    width: 48%;
}

.w-33 {
    width: 33%;
}

.w-22 {
    width: 15%;
}

.w-25 {
    width: 25%;
}

.w-75 {
    width: 80%;
}

.w-30 {
    width: 30%;
}


.container-1000 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



.bg-hero {
    background-image: url(assett/pexels-jordan-besson-2051439001-30217148.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}


.marge-10 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.marge-bottom-30 {
    margin-bottom: 200px;
}

.margin-top-100 {
    margin-top: 100px;
}

.marge-top-50 {
    margin-top: 50px;
}

.marge-top-30 {
    margin-top: 30px;
}

.margin-top-15 {
    margin-top: 15px;
}

a {
    text-decoration: none;
}

.padding-30 {
    padding: 30px;
}

.padding-15 {
    padding: 15px;
}



.position-header {
    position: fixed;
    width: 100%;
    background-image: url(assett/pexels-jordan-besson-2051439001-30217148.jpg);
    border-radius: 0 0 10px 10px;



}

header{
    padding:  0 64px;
    border-radius: 20px;
    position: fixed;
    width : 100%;
    max-width: 1000px;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s ease;
}

.gap-50 {
    gap: 230px;
}

.flex-inline {
    display: inline-flex;
    align-content: space-around;
}

.trait {
    background-color: #996830;
    height: 2px;
    width: 60px;
}

.text-center {
    text-align: center;
}

.textcolor {
    color: white;
}

.border-color {
    border-color: #996830;
}

.flexwrap {
    flex-wrap: wrap;
}

.bg-section2 {
    background: #E8E7AB;
}

.trait2 {
    background-color: #ffffff;
    height: 2px;
    width: 60px;
}

.img-taille {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.border-1 {
    border: 2px solid #996830;
}



.btn {
    background-color: #C30E59;
    border-radius: 0;
    color: white;
    padding: 10px 20px;
    display: inline-block;
}

.btn2 {
    background-color: #000000;
    border-radius: 0;
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    display: inline-block;
}

.btn2:hover {
    background-color: rgb(43, 43, 43);
}

.btn:hover {
    background: #ff00c34c;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.bg-section3 {
 background-image: url(assett/unsplash_S2jw81lfrG0.jpg) ;
  backdrop-filter: blur(10px);
    padding: 50px 0 60px 0;
}

.police {
    font-family: "playfair display", serif;
}

.police2 {
    font-family: "outfit", sans-serif;

}

.italique {
    font-style: italic;
}

.color-text {
    color: #FD8D5D;
}

.deco-text-no {
    list-style-type: none;
}

.card {
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;

}

.textcolor213 {
    color: #C30E59;
}

.textcolor214 {
    color: #F2AE66;
}

.textcolor215 {
    color: #E8E7AB;
}

.textcolor216 {
    color: #ffffff;
}

.position-header22 {
    margin-left: 90px;
}

.margin-left100 {
    margin-left: 50px;
}

.text-center {
   text-align: center;
}
.cardrond, .cardrond2 , .cardrond3{
    margin-left: auto;
    margin-right: auto;
    
}
.cardrond {
    background-image: url(assett/unsplash__4iLsr5p-dY.jpg);
    border-radius: 100%;
    padding: 15px;
    width: 150px;
    height: 25vh;

}

.cardrond2 {
    background-image: url(assett/unsplash_m-KrZjhkZwY.jpg);
    border-radius: 100%;
    padding: 15px;
    width: 150px;
    height: 25vh;

}

.cardrond3 {
    background-image: url(assett/unsplash_AJSnhy7iesU.jpg);
    border-radius: 100%;
    padding: 15px;
    width: 150px;
    height: 25vh;

}

.card33 {
    background-color: #F8F8F8;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
}

.bgsectionfooter1 {
    background: #ffe4cf6b;
    padding: 100px 0 60px 0;
}

.bgsectionfooter2 {
background-image: url(assett/pexels-jordan-besson-2051439001-30217148.jpg);
    padding: 100px 0 60px 0;
}

.border-radius11{
    border-radius: 10px 10px 10px 10px;
}

.marge-bottom-213 {
    margin-bottom: 100px;
}

.marge-bottom-214 {
    margin-bottom: 10px;
}
.position-left {
    margin-left: 300px;
}

.bg-header{
    background-color: #222;
}

.center-img {
    text-align: center;
}

